.venv/
venv/

app/data/raw/**
!app/data/raw/**/.gitkeep
app/data/external/**
!app/data/external/**/.gitkeep
app/data/processed/**
!app/data/processed/**/.gitkeep

models_store/**
!models_store/*.joblib
!models_store/metadata.json

models_store_live/**
!models_store_live/.gitkeep
!models_store_live/README.md

.env

.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store
.vscode/
app/integration/item_mapping.json