# ==========================
# Core Data Science
# ==========================
numpy>=2.0.0
pandas>=2.2.0
scipy>=1.14.0

# ==========================
# Machine Learning
# ==========================
scikit-learn>=1.6.0
joblib>=1.4.0

# ==========================
# Time Series Forecasting
# ==========================
prophet>=1.1.6

# ==========================
# API
# ==========================
fastapi>=0.116.0
uvicorn[standard]>=0.35.0

# ==========================
# Validation
# ==========================
pydantic>=2.11.0

# ==========================
# Visualization
# ==========================
matplotlib>=3.10.0

# ==========================
# Excel Support
# ==========================
openpyxl>=3.1.5

# ==========================
# Environment Variables
# ==========================
python-dotenv>=1.1.0

ydata-profiling>=4.16.1
requests
seaborn